@import "aos/dist/aos.css"; /* optional */


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  background-color: #ffffff;
  color: #0D3E7E;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.app.dark {
  background-color: #0D3E7E;
  color: white;
}
